[Desktop Entry]
Name=Figma
GenericName=Design Tool
Exec=figma
Icon=/usr/local/share/icons/figma/figma.png
Type=Application
Comment=Design and prototyping tool
Categories=Design
StartupWMClass=figma
